.main-footer {
  display: flex;
  height: 6rem;
  border-top: 0.2rem solid $color-border;
  align-items: center;
  justify-content: space-between;

  &__text {
    @include font-style-generator(
      (Montserrat, sans-serif),
      1.4rem,
      $color: $color-font-dark
    );
    margin: 0;

    &__link {
      text-decoration: none;
      color: $color-decor;
    }
  }
}
