.wrapper{
    width: 900px;
    margin: 0 auto;
    font-size: 0px;
    font-family: 'Playfair Display', serif;
}

/* Header style */

.header_block{
    padding-top: 72px;
    margin-bottom: 98px;
}

.menu{
    box-sizing: border-box;
    text-align: center;
}

.menu li{
    display: inline-block;
    margin-right: 120px;
}

.menu li:last-child{
    margin-right: 0px;
}

.menu a:hover,
.menu a:focus{
    color: #03a9f4;
}

.menu a{
    color: #626262;
    text-decoration: none;    
    font-size: 14px;
    text-transform: uppercase;
}

/* Main style */

.main_block{
    margin-bottom: 56px;
}

.block_data{
    width: 420px;
    margin-bottom: 134px;
    display: inline-block;
}

.block_data:nth-child(odd){
    margin-right: 60px;
}

.block_data:last-child,
.block_data:nth-last-child(2)
{
    margin-bottom: 0px;
}

.block_data img{
    margin-bottom: 30px;
}

.line_under_img{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.block_headline{
    font-size: 30px;
    color: #626262;
    margin-bottom: 38px;
}

.block_paragraph{
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.button_block{
    text-align: center;
    margin-top: 52px;
    margin-bottom: 70px;
}

.btn{
    width: 162px;
    height: 60px;
    color: #626262;
    font-size: 20px;
}

.button_block button:hover,
.button_block button:focus{
    color: #03a9f4;
}