@import url(bootstrap.min.css);

.color--red {
  background-color: red;
  height: 9rem;
}

.pad{
  margin: 10px;
}

.col-12{
  
  margin: 10px;
}

.color--green {
  background-color: green;
  height: 9rem;
}
.color--pink {
  background-color: pink;
  height: 9rem;
}
.color--purple {
  background-color: purple;
  height: 9rem;
}
.color--yellow {
  background-color: yellow;
  height: 9rem;
}

@media (min-width: 768px) {

  .color--red {
    height: 15rem;
  }
  
  .color--green {
    height: 15rem;
  }

}

.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: black;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100px 100px 100px 100px;
  padding: 10px;
}

.red{
  background-color: red;
  grid-area: 1 / 1 / 3 / 3;
}
.green{
  background-color: green;
  grid-column: 3 / span 2;
}
.yellow{
  background-color: yellow;
}
.blueviolet{
  background-color: blueviolet;
  grid-row: 2 / span 3;
}

.gray{
  background-color: gray;
  grid-area: 3 / 2 / 5 / 4;
}
.brown{
  background-color: brown;
  grid-row: 3 / span 2;
}