.conteiner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 98%;
  margin: 10px auto;
  align-content: stretch;
}

.child {
    /* height: 100px; */
    /* width: 100px;
    */
    flex-grow: 1;
    flex-basis: 350px;
  font-size: 30px;
  text-align: center;
  vertical-align: midle;
  line-height: 100px;
}

.item001 {
  background-color: blueviolet;
}
.item002 {
  background-color: red;
}
.item003 {
  background-color: gold;
}
.item004 {
  background-color: green;
}
.item005 {
  background-color: blue;
}
.item006 {
  background-color: brown;
}
.item007 {
  background-color: yellow;
}
.item008 {
  background-color: darkgreen;
}

.Rectangle_14 {
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    position: absolute;
    left: 350px;
    top: 970px;
    width: 380px;
    height: 470px;
    z-index: 19;
  }

  .Rectangle_14_copy {
    background-color: rgb(149, 225, 211);
    position: absolute;
    left: 360px;
    top: 980px;
    width: 380px;
    height: 470px;
    z-index: 18;
  }
  