@import url(lib/normalize.css);
@import url(lib/bootstrap.min.css);
@import url(fonts.css);

:root {
  font-size: 62.5%;
}

.main-conteiner {
  width: 100%;
  height: 100vh;
  background: rgb(26, 25, 21) url("../img/background_320_540.png") no-repeat
    center;
  background-size: cover;
  margin-bottom: 6.8rem;
}

.container{
  width: 32rem;
  padding: 0 1rem;
}

.main-flex-box {
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.header-logo {
  order: 1;
  margin-bottom: 0;
}

.nav {
  margin-bottom: 11.8rem;
}

.reg-box {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.button-link {
  display: block;
  height: 4rem;
  padding: 0;
  border-radius: 2rem;
  font: bold 1.4rem "Montserrat";
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
}

.reg-box__link {
  width: 9.4rem;
  color: rgb(255, 255, 255);
  border: 0.2rem solid rgba(255, 255, 255, 0);
  background: none;
}

.reg-box__link:hover {
  border-color: rgba(255, 255, 255, 1);
  transition: border-color 0.2s linear;
}

.header-logo__link {
  font: bold 2rem "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
}

.section-title {
  padding-top: 3.6rem;
  text-align: center;
  font: bold 3rem "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 0;
}

.section-title__text {
  display: block;
  padding-top: 1.6rem;
  font: 300 1.8rem "Roboto";
  color: rgb(255, 255, 255);
  text-transform: none;
  margin-bottom: 1.8rem;
}

.find-link {
  background-color: rgb(255, 78, 80);
  width: 28rem;
  height: 4rem;
  border: none;
  color: rgb(255, 255, 255);
}

.find-link:hover {
  box-shadow: 0px 1.5rem 1.5rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.5rem);
  transition: transform 0.2s linear;
}

.partners-box {
  width: 32rem;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0 auto 5.8rem auto;
}

.patners-box__title {
  font: bold 2.2rem "Montserrat";
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 1.8rem;
}

.partners-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 3rem auto;
}

.mask-circule {
  display: block;
  clip-path: circle(50% at center);
}

.partners-list__item {
  width: 23.6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.partners-list__item:last-child {
  margin-bottom: 0;
}

.partners-list__img-box {
  display: inline-block;
  position: relative;
}

.partners-list__item__title {
  font: bold 1.4rem "Montserrat";
  color: rgb(51, 51, 51);
  text-align: center;
  padding-top: 2rem;
}

.link--nodeco {
  text-decoration: none;
}

.partners-list__item__text {
  display: block;
  font: 300 1.4rem "Roboto";
  color: rgb(102, 102, 102);
  padding-top: 1.8rem;
}

.icon > img {
  vertical-align: middle;
}

.icon {
  position: absolute;
  line-height: 3.4rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  border: 0.4rem solid #fff;
  right: 0;
  bottom: 0;
}

.icon-bg--red {
  background-color: rgb(255, 78, 80);
}

.icon-bg--yellow {
  background-color: rgb(255, 165, 7);
}

.icon-bg--green {
  background-color: rgb(28, 215, 173);
}

.icon-bg--purple {
  background-color: rgb(78, 115, 219);
}

.other-partner-link {
  border: 0.2rem solid rgb(255, 78, 80);
  width: 28rem;
  color: rgb(255, 78, 80);
  margin: 0 auto;
}

.other-partner-link:hover {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
  transition: transform 0.2s linear;
}

@media screen and (orientation: landscape) and (max-height: 420px) {
  .nav {
    margin-bottom: 2rem;
  }
  .section-title {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 748px) {
  .main-conteiner {
    height: 70rem;
    background-image: url("../img/background_768_700.png");
    margin-bottom: 7.4rem;
  }

  .main-flex-box {
    width: 74.8rem;
  }

  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.8rem;
  }

  .nav {
    order: 2;
    margin-bottom: 0;
  }

  .section-title {
    width: 53.2rem;
    padding-top: 14.8rem;
    font-size: 5.2rem;
    color: rgb(255, 255, 255);
  }

  .section-title__text {
    padding-top: 3.6rem;
    font-size: 2.2rem;
    margin-bottom: 3.8rem;
  }

  .partners-box {
    width: 49.2rem;
    margin: 0 auto 4rem auto;
  }

  .patners-box__title {
    font: bold 2.2rem "Montserrat";
    color: rgb(51, 51, 51);
    text-align: center;
    margin-bottom: 3.6rem;
  }

  .partners-list {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 4rem;
  }

  .partners-list__item {
    margin-bottom: 5.8rem;
  }

  .partners-list__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 942px) {
  .main-conteiner {
    background-image: url("../img/background_1440_700.png");
    margin: 0 0 7.2rem 0;
  }

  .main-flex-box {
    width: 94.2rem;
  }

  .partners-box {
    width: 94.2rem;
  }

  .partners-list__item {
    width: 22.2rem;
    margin-bottom: 0rem;
  }
}
