:root {
  --color-font-light: #fff;
  --color-font-dark: #333333;
  --color-font-text: #999999;
  --color-hover: #fce38a;
  --color-decor: rgb(243, 129, 129);
  --color-service-icon: rgb(149, 225, 211);
  --color-background-img: rgb(149, 225, 211);
  --main-gradient: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
}
